@import url(//db.onlinewebfonts.com/c/5041b07a6f5e183cf1efe0e4a64598da?family=Cutive+Mono);

@font-face {
  font-family: "Cutive Mono";
  src: url("//db.onlinewebfonts.com/t/5041b07a6f5e183cf1efe0e4a64598da.eot");
  src: url("//db.onlinewebfonts.com/t/5041b07a6f5e183cf1efe0e4a64598da.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5041b07a6f5e183cf1efe0e4a64598da.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/5041b07a6f5e183cf1efe0e4a64598da.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/5041b07a6f5e183cf1efe0e4a64598da.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/5041b07a6f5e183cf1efe0e4a64598da.svg#Cutive Mono")
      format("svg");
}

@font-face {
  font-family: "Whyte";
  src: url("Whyte-Light.eot");
  src: local("Whyte Light"), local("Whyte-Light"),
    url("Whyte-Light.eot?#iefix") format("embedded-opentype"),
    url("Whyte-Light.woff2") format("woff2"),
    url("Whyte-Light.woff") format("woff"),
    url("Whyte-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: #15243a;
  color: white;
  font-family: "Whyte";
  letter-spacing: 0.1em;
  font-size: 14px;
  margin: 0;
}

h1 {
  line-height: 1.2em;
}

.grid {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  /* lines I added */
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, calc(100vh / 8));
}

.grid-view div {
  border: 1px solid white;
  /* line I added */
  overflow: auto;
}

.top-nav {
  grid-column: 1/12;
  padding: 20px 20px 20px 40px;
}

.top-nav img {
  width: 275px;
}

.top-left-1 {
  grid-column: 1/4;
  grid-row: 2/5;
  padding: 15px;
}

.top-mid-left-1 {
  grid-column: 1;
  grid-row: 5;
}

.top-mid-left-2 {
  grid-column: 2;
  grid-row: 5;
}

.top-mid-left-3 {
  grid-column: 3;
  grid-row: 5;
}

.mid-left-span {
  grid-column: 1/4;
  grid-row: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-holder {
  border: none !important;
}

.bot-left-1 {
  grid-column: 1;
  grid-row: 7;
}

.bot-left-2 {
  grid-column: 2;
  grid-row: 7;
}

.bot-left-3 {
  grid-column: 3;
  grid-row: 7;
}

.mid-vertical-col {
  grid-column: 4/6;
  grid-row: 2/8;
}

.top-ill-con {
  grid-column: 6/8;
  grid-row: 2/4;
}

.mid-top-sq-1 {
  grid-column: 6;
  grid-row: 4;
}

.mid-top-sq-2 {
  grid-column: 6;
  grid-row: 5;
}

.mid-top-sq-3 {
  grid-column: 6;
  grid-row: 6;
}

.mid-top-sq-4 {
  grid-column: 6;
  grid-row: 7;
}

.top-right-box {
  grid-column: 10 / 12;
  grid-row: 2/6;
}

.mid-mid {
  grid-column: 7/9;
  grid-row: 4/6;
}

.bottom-span {
  grid-column: 8/10;
  grid-row: 7;
}

.bot-nav {
  grid-column: 1/12;
}
